.answer {
  display: none
}

.card {
  height: 400px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid black;
  text-align: center;
  padding: 30px 20px;
  float: left;
  margin: 1em;
}

p {
  font-size: 1.2em
}
